form,
form>div {
  display: flex;
  flex-direction: column;
}

body,
body>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  min-height: 100vh;
  margin: 0;
  justify-content: space-between;
}

form {
  width: 50vw;
}

.gallery {

  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 150px;
}

.card img {
  width: 100%;
}

.introduction {
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', sans-serif;
  font-weight: bold;
}
